body {
    background-color:black;
    color: white;
    display: flex;
    font-family: 'Inconsolata', monospace;
    flex-direction: column;
}

#dean {
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}